doctype html
html(lang="en")

  block main_vars
    - var css_main = ["css/style.css", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" ]
    - var js_main = ["https://code.jquery.com/jquery-3.6.4.min.js", "js/burger.js"]

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title HUE
    meta(property="og:title", content="hue-photo")
    meta(property="og:description", content="personal blog")
    meta(property="og:type", content="website")

    each css in css_main || []
      link(rel="stylesheet", href=css)

  body

    .wrapper
      header.header
        .container
          .header__body
            a.header__logo(href="exposure.html")
              //- logo src defined in logo.js
              img#logo(src="images/logo.png", alt="Logo")
            .header__burger
              span.span1
              span.span2
              span.span3
            nav.header__menu
              ul.header__list
                li: a.header__link(href="index.html") HOME
                li: a.header__link(href="exposure.html") EXPOSURE
                li: a.header__link(href="what.html") WHAT
                li: a.header__link(href="when.html") WHEN
                li: a.header__link(href="where.html") WHERE
              .header__login_mobile
                a#loginButtonMobile
                  i.far.fa-user-circle
            .header__login
                a#loginButton
                  i.far.fa-user-circle
      .content
        .container
          main 
            block content

    each js in js_main || []
      script(src=js)

    //- footer.footer
    //-   .footer__body
    //-     .footer__text
    //-       p &copy; 2024 Yelchaninov
          