extends base.pug

//- This adds extra styles and js to already defined in base.pug
//- append main_vars
//-   - css_main.push.apply(css_main, ["css/.css"])
//-   - js_main.push.apply(js_main, ["js/.js"])
  
block content