$color-background: #f4f4f4;
$color-hover: #909090;
$color-font: #f4f4f4;
$color-main: #000;

$primary-color: $color-main;
$secondary-color: $color-background;
$border-color: #dddddd;
$btn-hover-color: darken($color-background, 70%);

$header-height: 100px;
$header-height-sm: 70px;

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
